body {
	font-size: 16px;
	background-color: #000080;
	background: rgba(0,0,128,1);
/*background: -moz-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 83%, rgba(222,184,135,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,128,1)), color-stop(83%, rgba(222,184,135,1)), color-stop(100%, rgba(222,184,135,1)));
background: -webkit-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 83%, rgba(222,184,135,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 83%, rgba(222,184,135,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 83%, rgba(222,184,135,1) 100%);
background: linear-gradient(to right, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 83%, rgba(222,184,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#deb887', GradientType=1 );*/
	
    background: rgba(0,0,128,1);
background: -moz-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,128,1)), color-stop(100%, rgba(222,184,135,1)));
background: -webkit-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 100%);
background: linear-gradient(to right, rgba(0,0,128,1) 0%, rgba(222,184,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#deb887', GradientType=1 );

/*	background: rgba(0,0,128,1);
background: -moz-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(16,4,66,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,128,1)), color-stop(100%, rgba(16,4,66,1)));
background: -webkit-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(16,4,66,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(16,4,66,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,128,1) 0%, rgba(16,4,66,1) 100%);
background: linear-gradient(to right, rgba(0,0,128,1) 0%, rgba(16,4,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#100442', GradientType=1 );*/

	color: #fff;
	font-family: 'Liu Jian Mao Cao', cursive;
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Fredericka the Great', cursive;
    /*font-family: 'Herr Von Muellerhoff', cursive;*/
    font-family: 'Oxygen', sans-serif;
}
h1 {
	font-size: 36px;
	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
	/*position: relative;*/
	text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
    margin-top: 0; /*era 2 px*/
    margin-bottom: 0; /*era 3px*/  
    margin: 0;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translateX(-50%);
    text-decoration: none;
}
h2 { /* questo era h1 */
	font-size: 36px;
	/*font-family: 'Cinzel Decorative', cursive;*/
	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
	/*position: absolute;*/
	/*left: 350px;*/
	/*padding: 25px;*/
	text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
}
#header-nav {
	/*background-color: #FFE4E1;*/
	background-color: #FFDEAD;
	background: rgba(255,222,173,1);
background: -moz-linear-gradient(left, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,222,173,1)), color-stop(100%, rgba(222,184,135,1)));
background: -webkit-linear-gradient(left, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%);
background: -o-linear-gradient(left, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%);
background: -ms-linear-gradient(left, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%);
background: linear-gradient(to right, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdead', endColorstr='#deb887', GradientType=1 );
	border-radius: 0;
	border: 0;
}
#logo-img{
	/*background: url("http://localhost:3000/images/nasa%20(7).png") no-repeat;*/
	background: url("artee.png") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
	position: relative;
	border-radius: 150px;

}

#lista-opere {
	float: left;
}


article p {
	float: right;
	width: 50%;
	height: 250px;
	border: 1px solid white;
	margin: 10px; 
	position: relative;
	top: 0;
}

.didascalia {
	font-size: .8em;
}

ol p span {
	vertical-align: middle;
	font-size: 20px;
	font-family: 'Fredericka the Great', cursive;
	width: 90px;
}

li{
	padding: 10px;
}
.bella {
	position: absolute;
	right: 0;
	width: 48%;
    height: 250px;
    border: 1px solid white;
    vertical-align: middle;
    overflow: auto;
}
#nav-list {
	margin-top: 10px;
	position: relative;
	left: 50px;
}
#nav-list a {
	
	text-align: center;
}
#nav-list a:hover {
	text-shadow: .5px .5px .5px #222;
	/*background-color: #40E0D0; così fa un po' schifo*/
}
#nav-list a span {
	font-size: 1.8em;
}
p {
	font-size: 1.1em;
	padding: 0 10px 0 30px;
	margin: 10px auto 100px;
	text-shadow: 2px 2px 2px #222;
}






/* MAIN CONTENT */
.dettagli1 {
	overflow: auto;
	height: 250px;
	/*border: 2px solid #fff;*/
}
.dettagli {
	height: 100px;
	line-height: 1.2;
}

.fotodelprof1 {
	vertical-align: middle;
	height: 250px;
	padding-top: 50px;
}
.fotodelprof2 {
	padding-top: 10px;
}
.fotodelprof3 {
	padding-top: 30px;
}
.fotodelprof4 {
	margin-bottom: 30px;
}
.fotodelprof5 {
	
}
.fotodelprof6 {
	padding-top: 10px;
}
.fotodelprof7 {
	padding-top: 50px;
}
.fotodelprof8 {
	padding-top: 10px;
}
.fotodelprof9 {
	padding-top: 80px;
}

.autore {
	font-weight: bold;
	font-size: 1.3em;
}
.autore1 {
	font-weight: bold;
	font-size: 1.1em;

}

h3 {
	/*font-family: 'Cinzel Decorative', cursive;*/
	/*font-family: 'Fredericka the Great', cursive;*/
	font-weight: bold;
	/*position: absolute;*/
	/*left: 350px;*/
	/*padding: 25px;*/
	text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
}

/**** FOOTER ****/
.panel-footer {
	background-color: #222;
	margin-top: 50px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
	opacity: .7;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#orari, #aiuto {
	line-height: 1.5;
}
#orari > span, #Chi-siamo > span, #aiuto > span {
	font-size: 1.3em;
} 
#Chi-siamo p {
	line-height: 1.8;
	font-size: .8em;
	margin-top: 15px;
}
#Chi-siamo p:nth-child(2) {
/* margin-top: 35px; */
}
/**** END FOOTER ****/


/**** PROFESSORI ****/
.materia-tile {
	overflow: hidden;
	position: relative;
	border: 2px solid #3F0C1F;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
	margin-bottom: 50px;
}

.materia-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #FFFFFF;
    opacity: .8;
}

.materia-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#opere-title {
	margin-bottom: 50px;
}
/**** END PROFESSORI ****/

.fotodelprof {
	position: relative;
	/*border: 2px solid #fff;*/
	
}

